.workshops{
  padding: 2rem;
  width: 90%;
  margin: auto;
  background-color: #380f63;
}
.workshops__header{
  display: flex;
  justify-content: space-between;
}
.workshops__header h5{
  color: #fff;
}
.workshops__list{
  margin-top: 1rem;
}
.workshops__list .list__header{
  background: #fff;
  padding: 0.5rem;
  font-weight: 500;
}
.list__body--group{
  display: flex;
  padding: 0.5rem;
  margin-top: 1rem;
  background: #fff;
  align-items: center;
}
.list__body--group img {
  margin: 0.5rem;
}