@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,400&family=Noto+Sans+JP&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  
  font-family: 'Roboto', sans-serif;
}

#App{
  background-image: url('https://www.comfeco.com/images/hero-background@2x.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: auto;
}
#App {
  width: 100%;
} 
